{% extends "partials/layout.html" %} <!--Está herdando tudo que vem do layout-->
{% set pageId = "page-home" %} <!--Cria uma variável para aramzenar o Id da página-->


        

{% block styles %} <!--Início do bloco-->
        <link rel="stylesheet" href="/styles/home.css">
        <link rel="stylesheet" href="/styles/modal.css">        
{% endblock styles %} <!--Fínal do bloco-->

{% block content %}
            <div class = "content">
                <header>
                    <img src="/icones/logo.svg" alt="Logo do Ecoleta" class="logo">
                    <a href="/create-point">
                        <span></span>
                        Cadastre um ponto de coleta</a>
                </header>
                <main>
                    <h1>Seu marketplace de coleta de resíduos</h1>
            
                    <p>Ajudamos pessoas a encontrarem pontos de coleta de forma eficiente</p>
            
                    <a href="#"><span></span><strong>Pesquisar pontos de coleta</strong></a>            
                    
                </main>
            </div>
{% endblock content%}
    
        {% block modal %}
        {% include "partials/page-modal.html" %}
        {% endblock modal%}

        {% block scripts %}
        <script src="/scripts/index.js"></script>
        <script src="/scripts/modal.js"></script>
        {% endblock scripts %}


